:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--background);
  color: var(--foreground);
}
